/* #region COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    ;
}

body {
    background-color: #f6f5f3;

}



.pd_sm {
    padding: 0.5rem;
}

.brr_sm {
    border-radius: 50%;
}

.col-12 {
    width: calc((100% / 12) * 12);
    height: 100%;
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-6 {
    width: calc((100% / 12) * 6);
}


.col-4 {
    width: calc((100% / 12) * 4);
}


/* #endregion COMMON */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* #region HEADER */
header {
    height: 50px;
    box-shadow: 0px 0px 10px #8f8e8d;

}

.title {
    font-family: Nerko One;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    margin: auto;
    color: #ff9614;
    text-shadow: 2px 1px 2px #8f8e8d;
}

/* #endregion HEADER */

/* #region MAIN */
main {
    padding: 2rem;
}

/* #region TOP_MAIN */

.container {
    background-color: white;
    box-shadow: 0px 0px 10px #8f8e8d;


}

.info {
    padding: 1rem;
    line-height: 2rem;

    li {
        list-style: none;
    }

    h4 {
        padding-bottom: 1rem;
    }
}

.video {
    aspect-ratio: 16/9;
}

.category {
    color: #bbbbba;


}


.name {
    color: #524271;
    padding: 1rem 0;

    span {
        display: none;
    }
}

.socials {
    justify-content: space-between;
    margin-top: 1rem;

    a {
        strong {
            display: none;
        }
    }

    .fa-brands {
        background-color: white;

        box-shadow: 0px 0px 10px #8f8e8d;
        text-decoration: none;
    }

    .fa-facebook {
        color: #1a77f3;
    }

    .fa-twitter {
        color: #009eff;
    }

    .fa-instagram {
        color: #dd7dc2;
    }

    .fa-pinterest {
        color: #e62222;
    }

    .fa-youtube {
        color: #e62222;
    }

}

/* #endregion TOP_MAIN */

/* #region BOTTOM_MAIN */
.banner {
    display: none;
}


.presentation_header {
    margin-top: 2rem;

    hr {
        width: 5rem;
        border: 2px solid #f79e3d;
        margin: 0.5rem 0;

    }


}

.presentation_main {
    padding-top: 2rem;
    text-align: center;

    p {
        text-align: justify;
    }


    .pres-img {
        padding-bottom: 1rem;


        width: 300px;

    }
}

/* #endregion BOTTOM_MAIN*/






/* #endregion MAIN */


footer{
    background-color: #7c69a4;
}

.copyright{
    text-align: center;
    color: white;
    line-height: 2rem;
    padding: 1rem;
    a{
        color: white;
        padding: 0.5rem;
    }
}


/* #region DEBUG */
.debug * {
    border: 1px dashed black;

}

/* #endregion DEBUG */





























@media screen and (min-width: 758px) {

    .title {

        text-align: left;


    }


    .name {

        span {
            display: inline-block;
        }
    }

    a {
        strong {
            display: none;
        }
    }

    .pd-x_md {
        padding: 0.5rem 3rem;
    }

    .brr_md {
        border-radius: 20px;
    }

    .pres-img {

        float: left;
        width: 500px;

        padding-right: 1rem;
        padding-bottom: 1rem;

    }

    .banner {
        display: inline-block;
        margin-top: 2rem;

        img {
            width: 100%;
        }

    }

}






@media screen and (min-width: 992px) {

    .wrap_lg {
        display: flex;
        flex-wrap: nowrap;

    }

    .socials {

        a {

            strong {
                display: inline-block;
                color: black;
                padding-left: 0.2rem;
            }

        }
    }


    .pd-x_lg {
        padding: 0.5rem 2rem;
    }

    .copyright{
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
    }

    main{
        max-width: 80%;
        margin:auto;
    }
}